.glow-box {
  border-radius: 20px;
  background: rgba(20, 10, 30, 0.6);
  border: 1px solid rgba(255, 0, 255, 0.2);
  box-shadow:
    0 0 20px rgba(153, 0, 255, 0.5),
    0 0 40px rgba(0, 221, 255, 0.2);
  backdrop-filter: blur(20px);
}

.neon-text {
  color: #b46fff;
  text-shadow: 0 0 10px #a259ff, 0 0 20px #a259ff;
}

.neon-blue {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff;
}

.neon-border {
  border: 1px solid rgba(125, 0, 255, 0.5);
  box-shadow:
    0 0 15px rgba(125, 0, 255, 0.6),
    inset 0 0 15px rgba(125, 0, 255, 0.4);
}
